<div class="navbar-fixed">
	<nav>
	  <div class="nav-wrapper head">
		<a href="javascript:" class="brand-logo left">
			<img class="logo" src="./images/logo.png"/>
		</a>
		<div>首页</div>
	  </div>
	</nav>
</div>
<div class="col s12 m7">
  <div class="card" ng-repeat="order in list" ng-click="goOrderinfo(order)">
	<div class="card-content">		
		<div>
			<div class="title">{{order.shop}}</div>
			<div class="sub-title">{{order.user_name}}发起拼单，召唤小伙伴加入</div>
			<div ng-show="order.persons>1" class="sub-title">{{order.user_name}}约到<span>{{order.persons-1}}</span>位小伙伴，立减<span style="color:#c43b61">{{order.save_money}}</span>元</div>
		</div>
		<a href="#/orderinfo/{{order.id}}" class="secondary-content">
			<i class="material-icons">keyboard_arrow_right</i>
		</a>
	</div>
  </div>
</div>
<div class="last"></div>
<div class="fixed-action-btn">
</div>
<div class="fixed-action-btn">
	<a href="#/startup" class="btn-floating btn-large waves-effect">发起</a>
</div>