<div class="navbar-fixed">
	<nav>
	  <div class="nav-wrapper head">
		<a href="javascript:" class="brand-logo left"><img class="logo" src="./images/logo.png"/></a>
		<div>发起</div>
		<ul class="right">
		  <li><a href="#/home">返回</a></li>
		</ul>
	  </div>
	</nav>
</div>
<div class="row">
	
    <div class="input-field col s12">
	  <i class="material-icons prefix">store</i>
	  <input id="icon_prefix" type="text" ng-model="form.shopName" class="validate">
	  <label for="icon_prefix">店铺名称</label>
	</div>
	<div class="input-field col s12">
		<i class="material-icons prefix">cloud_circle</i>
		<label for="icon_prefix" class="active">满减优惠</label>
		<div>
			<div ng-repeat="coupon in couponList" 
				class="chip" 
				ng-click="addCoupon(coupon)">{{coupon.price}}</div>
		</div>	
		<a href="javascript:" class="collection-item" ng-click="openMjyhModal()"><span class="new badge">添加</span></a>
		  <div id="modal2" class="modal bottom-sheet">
			<div class="modal-content">
				<div class="row">
					<div class="input-field col s12">
					  <i class="material-icons prefix">add</i>
					  <input id="icon_prefix" type="text" class="validate" ng-model="price">
					  <label for="icon_prefix" class="active">满（元）</label>
					</div>
					<div class="input-field col s12">
					  <i class="material-icons prefix">remove</i>
					  <input id="icon_telephone" type="tel" class="validate" ng-model="couponPrice">
					  <label for="icon_telephone" class="active">减（元）</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			  <a href="javascript:" ng-click="addCouponPrice()" class=" modal-action modal-close waves-effect waves-green btn-flat">确定</a>
			</div>
		  </div>
	</div>	
	<div class="input-field col s12">
	  <i class="material-icons prefix">restaurant</i>
	  <input id="icon_prefix" type="text" ng-model="form.food" class="validate">
	  <label for="icon_prefix">菜品</label>
	</div>
	<div class="input-field col s12">
	  <i class="material-icons prefix">exposure_plus_1</i>
	  <input id="icon_prefix" value=1 type="number" ng-model="form.num" class="validate">
	  <label for="icon_prefix" class="active">份数</label>
	</div>	
	<div class="input-field col s12">
	  <i class="material-icons prefix">attach_money</i>
	  <input id="icon_prefix" type="number" ng-model="form.price" class="validate">
	  <label for="icon_prefix">单价（元）</label>
	</div>
	
	<div class="input-field col s12">
		<a href="javascript:" class="collection-item" ng-click="showBase()"><span class="new badge">基本信息</span></a>
	</div>
	<div ng-show="isBase">		
		<div class="input-field col s12">
		  <i class="material-icons prefix">ring_volume</i>
		  <input id="icon_prefix" type="number" ng-model="form.stepFee" class="validate">
		  <label for="icon_prefix" class="active">起送费（元）</label>
		</div>
		<div class="input-field col s12">
		  <i class="material-icons prefix">motorcycle</i>
		  <input id="icon_prefix" type="number" ng-model="form.outsideFee" class="validate">
		  <label for="icon_prefix" class="active">配送费（元）</label>
		</div>
		<div class="input-field col s12">
		  <i class="material-icons prefix">access_time</i>
		  <input type="time" name="time" ng-model="form.orderTime" class="validate" format-date>
		  <label for="icon_prefix" class="active">下单时间</label>
		</div>
		<div class="input-field col s12">
			<i class="material-icons prefix">cloud_circle</i>
			<label for="icon_prefix" class="active">外卖平台</label>
			<span>{{form.platformName}}</span>
			<a href="javascript:" class="collection-item" ng-click="clickme()"><span class="new badge">选择</span></a>
			<div id="modal1" class="modal bottom-sheet">
				<div class="modal-content">
					<input name="group1" type="radio" id="test1" ng-click="selectPlatform(1, '百度外卖')" />
					<label for="test1">百度外卖</label>
					<input name="group1" type="radio" id="test2" ng-click="selectPlatform(2, '饿了么')" />
					<label for="test2">饿了么</label>
					<input class="with-gap" name="group1" type="radio" id="test3" ng-click="selectPlatform(3, '美团外卖')" />
					<label for="test3">美团外卖</label>
				</div>
				<div class="modal-footer">
				  <a href="javascript:" ng-click="addPlatform()" class=" modal-action modal-close waves-effect waves-green btn-flat">确定</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="userFoodList.length>0">
	  <div class="col s12">
		<table>
		  <thead>
		  <tr>
			<th data-field="name">菜品</th>
			<th data-field="name">份数</th>
			<th data-field="price">单价</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat="food in userFoodList">
			<td>{{food.food}}</td>
			<td>{{food.num}}</td>
			<td>￥{{food.price}}</td>
			<td><i class="material-icons prefix" ng-click="removeFood($index)">clear</i></td>
		  </tr>
		  </tbody>

		</table>
	  </div>          
	</div>
</div>
<div class="row last">
<div class="row">
	<button class="btn-large waves-effect waves-light" ng-click="addFood()">&nbsp;&nbsp;点 菜&nbsp;&nbsp;</button>&nbsp;&nbsp;
	<button class="btn-large waves-effect waves-light" ng-click="saveFoodAll()">&nbsp;&nbsp;约 单&nbsp;&nbsp;</button>
</div>        
</div>
	

	